<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>

    <main>

        <h2 class="tituloSec">Listado de Productos</h2>

        
        <div class="listadoProductos">

            <% if(locals.productos){ %>
                <% productos.forEach(producto => { %>

                    <div class="detalleProdListado">
                      <img class="imagenProductoListado" src="../images/<%=producto.imagen%>">
                                        
                      <div class="infoBaseProd">

                            <div class="variableProd">
                                <span class="subtituloListado">
                                   <a href="/producto/<%=producto.id%>">Ver detalle</a>
                                </span>    
                            </div>

                            <div class="variableProd">
                                <span class="subtituloListado">
                                    Nombre del producto:
                                </span>
                                <span class="subtituloListado">
                                    <%=producto.nombre%>
                                </span>    
                            </div>
    
                            <div class="variableProd">
                                <span class="subtituloListado">
                                    Unidades disponibles:
                                </span>
                                <span class="subtituloListado">
                                    <%=producto.unidadesDisponibles %>
                             </span>    
                            </div>
    
                            <div class="variableProd">
                                <span class="subtituloListado">
                                    Fabricante:
                                </span>
                                <span class="subtituloListado">
                                    <%=producto.fabricantes.nombre %>
                                </span>    
                            </div>
    
                            <div class="variableProd">
                                <span class="subtituloListado">
                                    Pais de origen:
                                </span>
                                <span class="subtituloListado">
                                    <%=producto.paises.nombre %>
                             </span>    
                            </div>                     
    
                            <div class="variableProd">
                                <span class="subtituloListado">
                                    Peso:
                                </span>
                                <span class="subtituloListado">
                                    <%=producto.peso %>
                                </span>    
                            </div>
    
                            <div class="variableProd">
                                <span class="subtituloListado">
                                    Modelo:
                                </span>
                                <span class="subtituloListado">
                                    <%=producto.modelo %>
                                </span>    
                            </div>

                        </div>
                        <div>
                      
                        </div>
                         
                    </div>   
                <% }) %>
            <% } %>
        </div>
      


            
       
    
    </main>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>
</html>