<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>   

    <form class="formRegistro" 
    action="/usuario/registro" 
    method="POST" 
    enctype="multipart/form-data">               
        <br>
        <legend><h2 class = "textosTitulo">Crea tu cuenta</h2></legend>
        <br>

        <% if(locals && locals.errors){ %>              
                <p class="contenido textosAlerta"> Se encontraron errores</p>
                
        <% } %>

        <div class="contenido">
            <label class="textos" for="nombre">
                Nombre:
                <input type="text" 
                name="nombre" 
                id="nombre" 
                 value="<%= locals.old &&  old.nombre ? old.nombre : ''%>">
                <% if( locals.errors && errors.nombre){ %>
                    <p class="textosAlerta"><%= errors.nombre.msg %></p>
                <% } %>              
                 
            </label>
        <br>
            <label class="textos" for="apellido">
                Apellido:
                <input type="text"
                name="apellido" 
                id="apellido" 
                value="<%= locals.old &&  old.apellido ? old.apellido : ''%>">
                <% if(locals && locals.errors && errors.apellido){ %>
                    <p class="textosAlerta"><%= errors.apellido.msg %></p>
                <% } %>
            </label>
        <br>
            <label class="textos" for="correo">
                e-mail:
                <input type="email" 
                name="correo"
                id="correo" 
                value="<%= locals.old &&  old.correo ? old.correo : ''%>">
                <% if(locals && locals.errors && errors.correo){ %>
                    <p class="textosAlerta"><%= errors.correo.msg %></p>
                <% } %>              
            </label>
        <br>
            <label  class="textos"for="pwd">
                Contraseña:
                <input type="password" 
                name="pwd" id="pwd" 
                value="<%= locals.old &&  old.pwd ? old.pwd : ''%>">
                <% if(locals && locals.errors && errors.pwd){ %>
                    <p class="textosAlerta"><%= errors.pwd.msg %></p>
                <% } %>    
            </label>
        <br>

            <label  class="textos"for="pwdConf">
                Confirma Contraseña:
                <input type="password" 
                name="pwdConf" 
                id="pwdConf" 
                value="<%= locals.old &&  old.pwdConf ? old.pwdConf : ''%>">
                <% if(locals && locals.errors && errors.pwdConf){ %>
                    <p class="textosAlerta"><%= errors.pwdConf.msg %></p>
                <% } %>     
            </label>
        
        <br>
            <label  class="textos" for="avatar">
                Avatar:
                <input type="file" 
                name="avatar" 
                id="avatar"
                value="<%= locals.old &&  old.avatar ? old.avatar : ''%>">
                <% if( locals.errors && errors.avatar){ %>
                    <p class="textosAlerta"><%= errors.avatar.msg %></p>
                <% } %> 
                
                
            </label>
        <br>

            
            <label class="textos" for="esAdmin">Es Administrador: </label>
            <% if( locals.old && old.esAdmin){ %>
                <input type="checkbox" name="esAdmin" id="esAdmin" checked>
            <% }else{ %> 
                <input type="checkbox" name="esAdmin" id="esAdmin">
            <% }%> 
        
               


                        
         <br>
        

        <button id="botonesLogin" type="submit">Enviar</button>
        
    </form>
    <br>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>
</html>
